
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 320px; /* Tamaño fijo para la calculadora */
  padding: 20px;
  margin: auto;
  background-color: #f9f9f9; /* Fondo claro */
  border: 2px solid #ccc; /* Borde gris */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */

}




